<!DOCTYPE html>
<head>
  <title>Print Item Label</title>
  <style>
    * {
      margin:0;
      padding:0;
    }
    body {
      font-family:Arial, Helvetica, sans-serif;
      font-size:14px;
      line-height: 1;
    }
    span, img {
      display: block;
    }
    .alr {
      float: right;
    }
    .all {
      float: left;
    }
    .text-center {
      text-align:center;
    }
    .text-right {
      text-align:right;
    }
    .small-text {
      font-size: 11px;
    }
    .clearfix:after {
      clear: both;
      content: "";
      display: block;
      height: 0;
      visibility: hidden;
    }
    .main-container {
      border: 1px solid #000000;
      height: 318px;
      margin: 0 auto;
      width: 198px;
    }
    .main-container > div {
      padding: 5px;
    }
    .sku {
      font-size: 36px;
    }
    .high-value + h3 {
      float: left;
      text-align: center;
      width: 158px;
    }
    .main-container > div:first-child {
      border-bottom: 1px solid #000000; 
    }
    .main-container > div:first-child strong {
      width: 15px;
    }
    .main-container > div:last-child span:nth-child(3) {
      margin-top: 7px;
    }
    .main-container > div:last-child div.clearfix {
      margin: 8px 0;
    }
   </style>
</head>
<body onload="window.print();">
  <div class="main-container">
    <div class="<%= params[:priority_type].downcase %> clearfix">
      <%= "<strong class='text-center alr'>R</strong>".html_safe if params[:rejected] == 'true' %>
      <%= "<strong class='text-center alr'>A</strong>".html_safe if params[:accepted] == 'true' %>
      <strong class="high-value all text-center">
        <%= (params[:high_value] == 'true') ? "HV" : "&nbsp;".html_safe  %> 
      </strong>
      <h3><%= params[:priority_type] %></h3>
    </div>
    <div>
      <div class="text-center">
        <% if params[:item_sku] %>
          <span class="sku"><%= params[:item_sku] %></span>
          <img src="<%= aws_barcode_url('consignment_item_skus', params[:item_sku]) %>" height="50" width="190" alt="Sku Barcode">
        <% end %>
        <span class="small-text">Item ID: <%= params[:item_id] %></span>
        <img src="<%= aws_barcode_url('consignment_items', params[:item_id]) %>" height="50" width="190" alt="Item Barcode">
      </div>
      <span><%= params[:product_name] %></span>
      <span><%= params[:designer_name] %></span>
      <span><%= params[:item_type_name] %></span>
      <div class="clearfix">
        <span class="alr"><%= params[:lead_type] %></span>
        <span><%= "IRP" if params[:room_pic] == 'true' %></span>
      </div>
      <div class="text-center">  
        <span><%= params[:consignor_name] %></span>
        <span class="small-text">Consignment: <%= params[:consignment_id] %></span>
        <img src="<%= aws_barcode_url('consignments', params[:consignment_id]) %>" height=35 width=190 alt="Consignment Barcode">
      </div>
    </div>
  </div>
</body>

